<div class="hero-unit">
    <h1>Toronto Bike Map</h1>
    <p>Toronto is a wonderful city enveloped by a strong and ever-growing bike
    culture.</p>
    <p>I've always enjoyed the <a href='http://www.toronto.ca/cycling/map/index.htm'>PDF based map</a> the city provides for reference,
    but I wanted a GIS based project, so this came to be!</p>
    <p>This map is built by <a href='http://bartek.im'>Bartek Ciszkowski</a>
    using PostGIS, node.js, and LeafletJS. You can read an entire <a href='http://bartek.im/blog/2012/03/30/torontos-bike-lanes-friendly-map.html'>walkthrough on how I made it, and what I learned in the process.</a></p>

    <p>You can <a href='http://twitter.com/bartekci'>follow me on Twitter</a>,
    where I generally ramble on about the city, food, or programming.</p>
</div>
